.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
  align-items: center;
}

body{ 
  background-image: url('./assets/close-up-door-focus-101808.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 200%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app{
  flex: 1;
  min-height: 100vh;
}

.logo {
  align-self: flex-start;
}

.main {
  margin: auto;
}

.card{
  opacity: .8;
  margin: 1rem;
  width: 85%;
  padding: 2em;}

h1, h2{
  text-align: center;
}

.checkboxGroup{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.question{
  padding-bottom: 2em;
}

.property {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  width: 90%;
  height: 35rem;
  background-color: #222;
  margin: auto;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width:600px){
  body{
    background-size: 300%;
  }
}