.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
  align-items: center;
}

.logo {
  align-self: flex-start;
}

.main {
  margin: auto;
  width: 90%;
  background-color: grey;
}

.app{
  background-color: black;
  height:100vh;
}